.calc{
    margin-left: 35% !important;
    margin-right: 35% !important;
}

.result{
    margin-left: 35% !important;
    margin-right: 35% !important;
    padding-top: 1% !important;
}

@media (min-width: 200px) and (max-width:1200px){
    .calc{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .result{
        margin-left: 10% !important;
        margin-right: 10% !important;
        padding-top: 1% !important;
    }
}

.top{
    text-align: center !important;
    color: white !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.txt{
    padding-top: 1% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.dados{
    padding-top: 3% !important;
    text-align: center !important;
    font-size: 120% !important;
}

.botao{
    color: white !important;
    border-color: black !important;
    background-color: #0DCAF0 !important;
}



footer{
    text-align: center !important;
    background-color: #000000 !important;
    color: #fff !important;
    padding: 2em !important;
    margin-top: 10% !important;
   
}